rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leads/{document} {
      allow read, write: if false;
    }

    match /mail/{document} {
      allow read, write: if false;
    }

    match /rateLimit/{document} {
      allow read, write: if false;
    }
  }
}
